
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# BEGIN Protect XML-RPC
<Files "xmlrpc.php">
Order Deny,Allow
Deny from all
</Files>
# END Protect XML-RPC


# END WordPress
